html, body {
    height: 100%;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Helvetica Neue Light",Arial,serif;
    margin: 0;
}

h1, h6, ul, li {
    margin: 0;
}

h1, h6 {
    padding: 0 10px;
}

ul {
    font-size: 0.8em;
}

li {
    font-size: 0.6em;
}

#content {
    height: 100%;
    box-sizing: border-box;
}

h1.large {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
}

.jobs {
    vertical-align: top;
}

.build-view {
    height: 32%;
    color: white;
    font-size: 3em;
    border-radius: 5px;
    margin: 0.2em;  
    overflow: hidden;
    display: table;
    width: 100%;
}

.build-view .jobs { 
    display: inline-block;
    width: 48%;
    text-align: left;
}

.build-view.failing_inprogress {
    background-color: orange;
    text-align: center;
}

.build-view.failing {
    background-color: red;
    text-align: center;
}

.build-view.building {
    background-color: lightgreen;
    text-align: center;
}

.build-view.success {
    background-color: darkgreen;
    text-align: center;
}
